baseurl = "https://people.redhat.com/grieger/summit2020_labs/"
contentdir    = "content"
layoutdir     = "layouts"
publishdir    = "public"

title = "Ansible Labs for Red Hat Summit"
canonifyurls = true
paginate = 10

# Change the default theme to be use when building the site with Hugo
theme = "hugo-theme-learn"

# For search functionality
[outputs]
home = [ "HTML", "RSS", "JSON"]

[author]
  name = "Christian, Eric, Götz, Ismail, Joachim"

[params]
  DateForm = "Mon, Jan 2, 2006"
  Description = "Ansible and Ansible Tower Labs"
  Author = "Christian, Eric, Götz, Ismail, Joachim"
  Ganalytics = "XX-00000000-0"
  themeVariant = "red"
  disableInlineCopyToClipBoard = "false"

## Use those parameters with {{< param "param_name" >}}

#  deployment = "agnosticd"
#  external_domain = "<GUID>.<LABID>.opentlc.com"
#  internal_domain = "<GUID>.internal"
#  internal_control = "bastion.<GUID>.internal"
#  internal_host1 = "node1.<GUID>.internal"
#  internal_host2 = "node2.<GUID>.internal"
#  internal_isonode = "worker1.emea.<GUID>.internal"
#  internal_tower1 = "tower1.<GUID>.internal"
#  internal_tower2 = "tower2.<GUID>.internal"
#  internal_tower3 = "tower3.<GUID>.internal"
#  internal_towerdb = "support1.<GUID>.internal"
#  external_tower = "tower.<GUID>.<LABID>.opentlc.com"
#  control_prompt = "ec2-user@bastion"
#  ansible_prompt = "root@bastion"
#  pre_awx_prompt = "TBD"
#  awx_prompt = "TBD"
#  content_git_uri = "structured-content.git"

  deployment = "linklight"
  labid = "<LABID>"
  student = "<N>"
  secret_password = "VERY_SECRET_PASSWORD"
# tip_variable_placeholder = "We use `${LABID}` and `${N}` more as a place holder in this lab, but you can of course use the fact that those look like shell environment variables on the command line to make your life easier ;-)."
  tip_variable_placeholder = " "
  external_domain = "<LABID>.events.opentlc.com"
  internal_domain = "internal"
  # control or bastion host
  internal_control = "ansible.internal"
  # we don't have a load balancer, hence tower1 is same as tower
  external_tower = "student<N>-ansible.<LABID>.events.opentlc.com"
  external_tower1 = "student<N>-ansible.<LABID>.events.opentlc.com"
  external_tower2 = "student<N>-towernode2.<LABID>.events.opentlc.com"
  external_tower3 = "student<N>-towernode3.<LABID>.events.opentlc.com"
  external_code = "student<N>-code.<LABID>.events.opentlc.com"
  internal_tower1 = "ansible.internal"
  internal_tower2 = "towernode2.internal"
  internal_tower3 = "towernode3.internal"
  internal_towerdb = "towerdb.internal"
  internal_toweriso = "isonode.internal"
  control_prompt = "student@ansible"
  ansible_prompt = "student@ansible"
  pre_awx_prompt = "student@ansible"
  awx_prompt = "student@ansible"
  git_user = "ec2-user"
  content_git_uri = "projects/structured-content.git"
  internal_host1 = "node1.internal"
  internal_host2 = "node2.internal"
  internal_hostremote = "remote.internal"

[[menu.shortcuts]]
name = "<i class='fas fa-home'></i> Homepage"
url = "https://www.redhat.com"
weight = 10
